body{
    font-family: serif;
    margin: 0;
    min-width: 10cm;
    overflow-x: hidden;

}  



.container{
    padding-bottom: 4mm;
    text-align: center;
    background: rgb(100, 100, 196);
    overflow-x: hidden;
}

 

.scontainer{

    display: grid;
    background-color: black;

    
}

h3, ul, ol,.forms,button{
    color: chartreuse; 
}

ol,ul{
    list-style: none;
    padding: 8em,1.2em;

}

img{
    border-radius: 100px;
    margin: 10MM;
}

a{
    color: crimson;
}

li{
    text-align: justify;
    display: block;
    float: left;
    
    padding: 1cm;
    
}


label,input,textarea{
    display: block;
    
}


footer{
    background: rgb(222, 231, 179);
    padding: 25px;

}

button{
    background: red;
    margin: 5mm;
}

textarea{
    height: 3cm;
    resize: none;
}

#error_message{
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }

